
  <div class="wrapper">
    <div class="profile" *ngIf="profile">
      <div class="content">
        <div class="top">
          <h1 >Edit your profile</h1>
          <div  style="display:inline;">
              <h3 for="fname">Profile Name</h3>
              <input type="text" id="fname" tabindex="1" value="{{profile.name}}"/>
          </div>
        </div>
        <form  action="">

          <fieldset> 
             <!-- center div  -->
            </fieldset>
            <fieldset >   
              <div></div>
              
              
            <div class="center">

              <div class="dropdown">
                <button class="dropbtn">Language</button>
                     <div class="dropdown-content">
                        <div class="dropdown-content">
                          <a >English</a>
                          <a >Dutch</a>
                          <a >日本語 (Japanese)</a>               
                        </div>              
                  </div>    
              </div>
            </div>

          </fieldset>
          <input type="button" class="down"  value="Cancel" (click)="back()" />
          <input type="submit" class="down" style="right: 85%;" value="Save Changes" (click)="SaveChanges()"/>
          <input type="submit" class="down" style="right: 2.5%;" value="Edit personal user data" (click)="EditUserData()" />
        </form>
      </div>
    </div>
  </div>
  
  
  <!-- http://www.smashingmagazine.com/2013/08/08/release-livestyle-css-live-reload/ -->