* {
    box-sizing: border-box;
    
  }

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    border: solid black 6px;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;

}

.profil{
    display: inline-block;
    margin: calc((100vh - 50vh) / 2) 3vw;
    border-radius: 1%;
    height: 50vh;
    width: 25vw;
  }
  