

<body>
  <div id="AcountOverlay">
    <img class="logo" src="../../../assets/images/micflix_logo.png" alt="">
    <h1 id="HeaderInfo">Who's watching?</h1>
    <div class="AcountHolder">
      
      <ng-container *ngFor="let profile of profiles | async; let i = index">
        <div class="Acount">
          <a onclick="ShowHomePage()">
            <div id="EditProfile">
            </div>
            <img class="ProfileImg"
              src="https://via.placeholder.com/320"
              alt=""
              (click)="onClick()"
              >
            <p>{{profile.name}}</p>
          </a>
        </div>

      </ng-container>
    </div>
    <button (click)="manageProfiles()" type="button" class="btn btn-outline-secondary">
      <p id="EditProfiletext">Profiel beheren</p>
    </button>
  </div>
  <!-- <div id="EditProfileOverlay">
    <img class="logo" src="https://drive.google.com/file/d/1qO-c9I0B2JzzQxvTrwNf4s9YAjteCkwf/view?usp=sharing" alt="">
    <h1>Edit Profiel</h1>
    <button onclick="ToggleEditPage()" type="button" class="btn btn-outline-secondary">
      <p id="SaveProfileSettings">Save</p>
    </button>
  </div>
</body> -->

