

    /* transform: translate(-50%, -50%); */
.item:hover{
        transform: translate(0%, -10%);

}

.itemtext{
    display: inline;
    overflow:hidden;
    width:110px; 

}
/* .itemtext:hover{
    transform: translate(0%, -25%);

} */