<h2>{{genre}}</h2>
<owl-carousel-o [options]="customOptions">
  
    <ng-container *ngFor="let movie of movies | async; let i = index">
      <ng-template carouselSlide [id]="i.toString()">
        <img [src]="slides[i]" (click)="onClick(movie.id)" [title]="movie.name">
      </ng-template>
    </ng-container>
      
    </owl-carousel-o>

    <!-- <div class="container-xl">
      <ng-container  *ngFor="let movie of movies|async">
          <div>
              <h4>{{movie.name}}</h4>
          </div>
      </ng-container >
  </div> --> 