<!-- <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let movie of movies | async; let i = index">
      <ng-template carouselSlide [id]="i.toString()">
        <img [src]="slides[i]" (click)="onClick(movie.id) " [title]="movie.name"  class="item">
      </ng-template>
    </ng-container>

</owl-carousel-o> -->
<div class="VideoCollum">

  <h2>{{genre}}</h2>


    <ng-container *ngFor="let movie of movies | async; let i = index">

      <div class="vid" (click)="onClick(movie.id)">
        <p class="itemtext" style="width: 600px;">{{movie.name}}</p>
        <img class="item" src="https://image-placeholder.com/images/actual-size/640x480.png" alt="">
      </div>
    </ng-container>

</div>